:root {
    --center-width : 800px;
    --aside-width: 350px;
    --default-font-size: 18px;
    --note-font-size: 18px;
    --timeline-font-size: 16px;
    --color-bg-base-reverse: 0 0% 100%;
}

body {
    font-family: genyogothictw, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* width: 100%;  vw includes the scrollbar
    height: 100vh; */
    color: #333;
    font-size: 24px;
}

.banner {
    background: #424141;
    padding: 1rem 2rem;
    text-align: center;
    line-height: 60.75px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wrapper {
    flex: 1 1 calc(var(--center-width) + 2*var(--aside-width));
    max-width: calc(var(--center-width) + 2*var(--aside-width));
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#site-logo {
    font-weight: 800;
    font-size: 29.25px;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#site-nav {
    text-align: center;
}

#site-nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

.post-title {
    font-size: 38px;
    line-height: 38px;
    margin: 0.2rem 0rem 0rem 0rem;
}

.post-meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    font-size: 16px;
    color: #9b9c9c;
    margin: 0.75rem 0rem;
}

a[class=tag] {
    border-radius: 0.35rem;
    padding: 0rem 0.3rem;
    font-weight: 400;
}

.L1-section-title {
    font-size: 32px;
    margin: 3rem 0rem 1rem 0rem;
}

.container {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    background-color: #ffffff;
}

#left-area {
    flex: 2 2 var(--aside-width);
    max-width: var(--aside-width);
    padding: 1rem;
    /* border: 3px solid rgb(223, 55, 55); */
}

#agenda-wrapper {
    position: sticky;
    width: 80%;
    top: 10px;
}

.agenda-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    margin: 0.2rem 0rem 0rem 0rem;
}

#agenda {
    list-style: none;
    font-size: var(--default-font-size);
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem;
}

#agenda li {
    width: 80%;
    padding-left: 1rem;
}

#agenda .focus-section {
    border-left: 3px solid rgb(31, 203, 234);
    background-color: rgba(83, 216, 216, 0.5);
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    font-weight: 700;
}

#agenda .non-focus-section {
    border-left: 3px solid rgb(218, 226, 228);
    background-color: rgba(255, 255, 255, 0);
    font-weight: 400;
}

a {
    color: rgb(98, 149, 216);
    text-decoration: none;
    font-weight: 600;
}

#agenda .focus-section a {
    color:rgb(77, 75, 73);
    font-weight: 400;
}

#agenda .non-focus-section a {
    color:rgb(86, 84, 82);
    font-weight: 300;
}

#agenda .collapsed .toggleTitle {
    font-size: 18px;
    color:rgb(0, 0, 0);
    background-color: #ffffff00;
    border-radius: 0.35rem;
    padding-left: 1rem;
    font-weight: 400;
}

#agenda .expanded .toggleTitle {
    font-size: 18px;
    color:rgb(228, 224, 220);
    background-color: #333;
    border-radius: 0.35rem;
    padding-left: 1rem;
    font-weight: 400;
}

#agenda .toggleTitle:hover, #agenda .toggleMemberBullet li:hover {
    cursor: pointer;
    color:rgb(0, 0, 0);
    background-color: #64d4d8;
    border-radius: 0.35rem;
}

.collapsed .toggleMemberBullet {
    display: none;
}

.expanded .toggleMemberBullet {
    list-style: none;
    font-size: var(--timeline-font-size);
    margin: 1rem 0rem 1rem 1.25rem;
    padding: 0rem;
    border-left: 3px solid rgb(38, 40, 41);
}

.toggleMemberBullet li a {
    color: rgb(86, 87, 90);
    text-decoration: none;
    font-weight: 400;
}

#center-area {
    flex: 1 1 var(--center-width);
    max-width: var(--center-width);
    padding: 1rem;
    /* border: 3px solid rgb(43, 179, 38); */
}

#right-area {
    flex: 2 2 var(--aside-width);
    max-width: var(--aside-width);
    padding: 1rem;
    /* border: 3px solid rgb(35, 48, 168); */
}

#category-title, #tag-title {
    font-size: 18px;
    border-radius: 0.35rem;
    font-weight: 600;
}

#category-list, #tag-list {
    font-size: var(--timeline-font-size);
    border-radius: 0.35rem;
    font-weight: 600;
}

#tag-warpper {
    margin-top: 3rem;
}

p.content-paragraph {
    font-size: var(--default-font-size);
    margin-top: 2rem;
    line-height: 2rem;
}

p.note {
    font-size: var(--note-font-size);
    margin-top: 0.5rem;
    line-height: 1rem;
    color: rgb(167, 165, 165);
}

p.note::before {
    content: "Note: ";
}

hr {
    height: 2px;
    background-color: rgb(46, 48, 49);
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: #ffffff;
    margin-top: 2rem;
    padding: 5rem;
}

.hljs { /* must set font emplicitly when <html lang="zh-Hant-TW"> */
    font-family:Consolas;
    font-size: 14px;
}

code[class=inline] {
    font-family:Consolas;
    font-size: var(--default-font-size);
    background-color: #fffddc;
    color: rgb(226, 120, 120);
    font-weight: bold;
}

code[class=prop] {
    font-family:Consolas;
    font-size: var(--default-font-size);
    background-color: #565568;
    color: rgb(166, 214, 169);
    font-weight: bold;
}