#category-list {
    display: flex;
    flex-flow: column wrap;
}

#selected-category {
    border: 2px solid #615a5a;
    font-weight: 500;
}

#selected-category::before {
    content: "➣ ";
}

.day {
    color: #a19b9b;
}