:root {
    --sidebar-font-size: 16px;
    --default-font-size: 18px;
}

#category-list {
    display: flex;
    flex-flow: column wrap;
}

#category-list .tag {
    font-size: var(--sidebar-font-size);
    font-weight: 400;
}

#category-list #selected-category {
    border: 2px solid #403c3c;
    font-weight: 500;
}

#selected-category::before {
    content: "➣ ";
}

.category-dropdown {
    display: none;
    flex-flow: row nowrap;
}

#category-select {
    width: 100%;
    margin-left: 1rem;
    border-radius: 0.35rem;
    border: none;
    background-color: #e3dcdc;
    text-align: right;
    font-size: var(--sidebar-font-size);
    outline: none;
}

#category-select option {
    font-size: var(--sidebar-font-size);
}

@media (max-width: 1000px) {
    .category-dropdown {
        display: flex;
    }
}