:root {
    --center-width: 800px;
    --left-width: 300px;
    --right-width: 350px;
    --default-font-size: 18px;
    --note-font-size: 18px;
    --timeline-font-size: 18px;
}

body {
    font-family: genyogothictw, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 24px;
    background-color: #ffffff;
}

.banner {
    background: #424141;
}

.wrapper {
    max-width: calc(var(--center-width) + var(--left-width) + var(--right-width));
    min-width: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    margin: 0 auto;
    /* border: 3px solid red; */
}

#site-logo {
    font-weight: 800;
    font-size: 29.25px;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#site-nav {
    text-align: center;
}

#site-nav a {
    color: #fff;
    margin: 0rem 0rem 0rem 2rem;
    text-decoration: none;
}

.post-header .post-title {
    font-size: 38px;
    line-height: 38px;
    margin: 0.2rem 0rem 0rem 0rem;
}

.post-header .post-meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    font-size: 16px;
    color: #9b9c9c;
    margin: 0.75rem 0rem;
}

.post {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.post .left-part {
    width: 70%;
}

.post .post-title {
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin: 0rem 1rem 0rem 0rem;
}

.post .post-description {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    color: #727474;
    margin: 0.2rem 1rem 0rem 0rem;
}

.post .post-meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    font-size: 16px;
    color: #9b9c9c;
    margin: 0.75rem 0rem;
}


/* Create space for image to fill */

.post .thumbnail-container {
    width: 25%;
    height: 120px;
}

.post .thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inline-icon {
    height: 1.1rem;
    margin: 0rem 0.35rem 0rem 0.35rem;
    position: relative;
    top: 0.2em;
}

a[class=tag] {
    border-radius: 0.35rem;
    padding: 0rem 0.3rem;
    margin-right: 0.3rem;
    font-weight: 400;
}

.L1-section-title {
    font-size: 32px;
    margin: 3rem 0rem 1rem 0rem;
}

.L2-section-title {
    font-size: 26px;
    margin: 2rem 0rem -0.5rem 0rem;
}

.main-container {
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: center;
}

#timeline-wrapper,
#agenda-wrapper {
    width: 90%;
}

.agenda-title {
    font-size: 28px;
    font-weight: 400;
    padding: 0rem;
    margin: 0rem;
}

#agenda {
    list-style: none;
    font-size: var(--default-font-size);
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem;
}

#agenda li {
    /* width: 80%; */
    padding: 0.25rem 1rem;
}

#agenda .focus-section {
    border-left: 3px solid rgb(31, 203, 234);
    background-color: rgba(83, 216, 216, 0.5);
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    font-weight: 700;
}

#agenda .non-focus-section {
    border-left: 3px solid rgb(218, 226, 228);
    background-color: rgba(255, 255, 255, 0);
    font-weight: 400;
}

a {
    color: rgb(98, 149, 216);
    text-decoration: none;
    font-weight: 600;
}


/* add agenda anchors to prevent color overwrite */

a:hover,
#agenda .focus-section a:hover,
#agenda .non-focus-section a:hover,
#same-category-list a:hover,
.same-tag-list a:hover,
.toggleMemberBullet a:hover {
    color: rgb(120, 186, 243);
    text-decoration: underline;
}

#agenda .focus-section a {
    color: rgb(77, 75, 73);
    font-weight: 450;
}

#agenda .non-focus-section a {
    color: rgb(86, 84, 82);
    font-weight: 300;
}

#timeline {
    list-style: none;
    font-size: var(--default-font-size);
    margin: 0rem;
    padding: 0rem;
}

#timeline-title {
    font-size: 18px;
    margin-top: 0rem;
}

#timeline .collapsed .toggleTitle {
    font-size: 18px;
    color: rgb(0, 0, 0);
    /* border-radius: 0.35rem; */
}

#timeline .expanded .toggleTitle {
    font-size: 18px;
    color: rgb(0, 0, 0);
    /* border-radius: 0.35rem; */
}

#timeline .toggleTitle:hover,
#timeline .toggleMemberBullet li:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-radius: 0.35rem;
}

.collapsed .toggleMemberBullet {
    display: none;
}

.expanded .toggleMemberBullet {
    list-style: none;
    font-size: var(--timeline-font-size);
    margin-left: 0.5rem;
    padding-left: 0.75rem;
    border-left: 3px solid rgb(38, 40, 41);
}

.toggleMemberBullet li a {
    color: rgb(86, 87, 90);
    text-decoration: none;
    font-weight: 400;
}

@media (max-width: 1000px) {
    #left-area {
        display: none;
    }
    #right-area {
        display: none;
    }
    #site-nav {
        display: none;
    }
}

#left-area {
    position: sticky;
    top: 30px;
    height: 20%;
    flex: 1 1 var(--left-width);
    max-width: var(--left-width);
    min-width: 0px;
    padding: 0rem;
    margin: 2rem;
    box-sizing: border-box;
    /* margin: 2rem 2rem 0rem 0rem; */
    /* border: 3px solid rgb(223, 55, 55); */
}

#center-area {
    flex: 1 1 var(--center-width);
    max-width: var(--center-width);
    min-width: 0px;
    padding: 2rem;
    box-sizing: border-box;
    /* margin: 2rem 0rem 0rem 0rem; */
    /* border: 3px solid rgb(43, 179, 38); */
}

#right-area {
    position: sticky;
    top: 30px;
    height: 20%;
    flex: 1 1 var(--right-width);
    max-width: var(--right-width);
    min-width: 0px;
    padding: 0rem;
    margin: 2rem;
    box-sizing: border-box;
    /* margin: 2rem 0rem 0rem 2rem; */
    /* border: 3px solid rgb(35, 48, 168); */
}

#category-title,
#tag-title,
.tag-title {
    font-size: 18px;
    border-radius: 0.35rem;
    font-weight: 600;
    margin: 0rem;
}

#category-list,
#tag-list {
    display: flex;
    flex-flow: row wrap;
    font-size: var(--timeline-font-size);
    border-radius: 0.35rem;
    font-weight: 600;
}

#category-list .tag,
#tag-list .tag {
    margin-bottom: 0.5rem;
}

#tag-wrapper {
    margin-top: 3rem;
}

p.content-paragraph {
    font-size: var(--default-font-size);
    margin-top: 2rem;
    line-height: 2rem;
}

p.note {
    font-size: var(--note-font-size);
    margin-top: 0.5rem;
    line-height: 2rem;
    color: rgb(127, 126, 126);
}

p.note::before {
    content: "Note: ";
}

hr {
    height: 3px;
    border: none;
    background-color: rgb(46, 48, 49);
}

.post-hr {
    border: none;
    background-color: rgb(208, 214, 214);
    height: 1px;
    width: 98%;
    margin: 2rem auto;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: #ffffff;
    margin-top: 2rem;
    padding: 5rem;
}

.hljs {
    /* must set font emplicitly when <html lang="zh-Hant-TW"> */
    font-family: Consolas;
    font-size: 14px;
}

code {
    line-height: 1.2rem;
}

code[class=inline] {
    font-family: Consolas;
    font-size: var(--default-font-size);
    border-radius: 0.35rem;
    background-color: #f9f2f4;
    color: #c7254e;
}

code[class=prop] {
    font-family: Consolas;
    font-size: var(--default-font-size);
    border-radius: 0.35rem;
    background-color: #565568;
    color: rgb(166, 214, 169);
}

div.demo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

div.demo {
    flex: 1 1 var(--center-width);
    font-size: var(--default-font-size);
    border-radius: 0.5rem;
    border: 3px solid #b1b1b1;
    margin: 0 0.5rem;
    height: 100%;
    flex: 1 1 20%;
}

div.demo h1 {
    font-size: var(--default-font-size);
    margin: 0.5rem 0rem;
    text-align: center;
    color: #565656;
}

ul.content-ul li {
    font-size: var(--default-font-size);
    line-height: 2rem;
}

ul.content-ul>li {
    margin: 1rem 0rem;
}

ul.marginx1p5>li {
    margin: 1.5rem 0rem;
}

ul.marginx2>li {
    margin: 2rem 0rem;
}

table.content-table {
    font-size: var(--default-font-size);
    border-collapse: collapse;
    border: 2px solid #7d7d7e;
}

table.content-table th,
table.content-table td {
    border: 2px solid #7d7d7e;
}

table.content-table thead>tr {
    /* background-color: rgb(110, 226, 220); */
    background-color: rgb(44, 100, 165);
    color: #e6e6e6;
}

table.content-table th,
table.content-table td {
    padding: 0.3rem 0.5rem;
}

table.content-table tbody>tr:nth-child(2n+1) {
    background-color: #ffffff;
}

table.content-table tbody>tr:nth-child(2n) {
    background-color: rgb(177, 227, 236);
}

table.content-table td:nth-child(1) {
    font-weight: bold;
}

#same-category-list,
.same-tag-list {
    margin: 0rem;
    padding-left: 1.5rem;
}

#same-category-list li,
.same-tag-list li {
    font-size: var(--default-font-size);
    margin: 0.25rem 0rem;
}

#same-category-list a,
.same-tag-list a {
    color: rgb(86, 84, 82);
    font-weight: 300;
}

#same-category-list a.this-article {
    background-color: rgba(83, 216, 216, 0.5);
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    font-weight: 450;
}