body {
    font-family: genyogothictw, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: var(--default-font-size);
    color: var(--dark-color);
    background-color: var(--bright-color);
}

.banner {
    background: var(--gray-background);
}

time[itemprop=datePublished] {
    margin-right: 0.5rem;
}

.wrapper {
    max-width: calc(var(--center-width) + var(--left-width) + var(--right-width));
    min-width: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    margin: 0 auto;
    /* border: 3px solid red; */
}

#site-logo {
    font-weight: var(--logo-font-weight);
    font-size: var(--logo-font-size);
    color: var(--bright-color);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

#site-nav {
    text-align: center;
}

#site-nav.open {
    display: flex;
}

#site-nav a {
    color: var(--bright-color);
    font-size: var(--default-font-size);
    margin: 0rem 0rem 0rem 2rem;
    text-decoration: none;
}

#site-nav.open a {
    margin: 0rem;
    background-color: var(--dark-color);
}

.post-header .post-title {
    font-size: var(--post-header-size);
    line-height: var(--post-header-size);
    margin: 0.2rem 0rem 0rem 0rem;
}

.post-meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    font-size: var(--post-meta-size);
    color: var(--note-color);
    margin: 0.75rem 0rem;
}

.post {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.post .left-part {
    width: 70%;
}

.post .post-title {
    font-size: var(--post-title-size);
    color: var(--dark-color);
    margin: 0rem 1rem 0rem 0rem;
}

.post .post-description {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--post-meta-size);
    font-weight: var(--post-meta-weight);
    color: var(--note-color);
    margin: 0.2rem 1rem 0rem 0rem;
}


/* Create space for image to fill */

#cover-container {
    width: 100%;
    height: var(--image-height);
}

#cover-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.content-img {
    width: 100%;
}


/* Create space for image to fill */

.post .thumbnail-container {
    width: 25%;
    height: var(--thumbnail-height);
}

.post .thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inline-icon {
    height: 1.1rem;
    margin: 0rem 0.35rem 0rem 0.35rem;
    position: relative;
    top: 0.2em;
}

a {
    color: var(--link-color);
    font-weight: var(--link-font-weight);
    text-decoration: none;
}

button[class=tag],
a[class=tag] {
    border-radius: var(--symbol-border-radius);
    border: 0px;
    padding: 0rem 0.3rem;
    margin-right: 0.3rem;
    font-weight: var(--symbol-font-weight);
    text-align: left;
}

button[class=tag]:hover,
a[class=tag]:hover {
    cursor: pointer;
    text-decoration: underline;
}

.L1-section-title {
    font-size: var(--l1-title-size);
    margin: 3rem 0rem 1rem 0rem;
}

.L2-section-title {
    font-size: var(--l2-title-size);
    margin: 2rem 0rem -0.5rem 0rem;
}

.main-container {
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: center;
}

#timeline-wrapper,
#agenda-wrapper {
    width: 90%;
}

.agenda-title {
    font-size: var(--agenda-title-size);
    font-weight: var(--agenda-title-weight);
    padding: 0rem;
    margin: 0rem;
}

#agenda {
    list-style: none;
    font-size: var(--default-font-size);
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem;
}

#agenda li {
    padding: 0.25rem 1rem;
}

#agenda .focus-section {
    border-left: var(--toggle-border-size) solid var(--blue-border);
    background-color: var(--blue-background);
    border-radius: 0rem var(--symbol-border-radius) var(--symbol-border-radius) 0rem;
}

#agenda .non-focus-section {
    border-left: var(--toggle-border-size) solid var(--gray-border);
    background-color: var(--transparent);
}

#agenda .focus-section a {
    color: var(--dark-color);
    font-weight: var(--agenda-focus-weight);
}

#agenda .non-focus-section a {
    color: var(--note-color);
    font-weight: var(--agenda-nonfocus-weight);
}


/* add agenda anchors to prevent color overwrite */

a:hover,
#agenda .focus-section a:hover,
#agenda .non-focus-section a:hover,
#same-category-list a:hover,
.same-tag-list a:hover,
.toggleContainer a:hover {
    cursor: pointer;
    color: var(--link-color);
    text-decoration: underline;
}

#timeline-title {
    font-size: var(--sidebar-title-size);
    margin-top: 0rem;
}

#timeline {
    list-style: none;
    font-size: var(--sidebar-font-size);
    color: var(--dark-color);
    margin: 0rem;
    padding: 0rem;
}

#timeline .toggleTitle {
    font-size: var(--sidebar-font-size);
}

#timeline li:hover {
    cursor: pointer;
}

.toggleContainer {
    display: flex;
    flex-flow: column wrap;
    font-size: var(--sidebar-font-size);
    line-height: 2rem;
    margin-left: 0.5rem;
    padding-left: 0.75rem;
    border-left: var(--toggle-border-size) solid var(--dark-color);
}

.collapsed .toggleContainer {
    display: none;
}

.toggleContainer a {
    color: var(--dark-color);
    text-decoration: none;
    font-weight: var(--link-font-weight);
}

#hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.dropdown-hr {
    display: none;
    margin: 2rem 0rem;
}

.sidebar {
    position: sticky;
    top: var(--sidebar-sticky-top);
    height: 20%;
    min-width: 0px;
    padding: 0rem;
    margin: 2rem;
    box-sizing: border-box;
}

#left-area {
    flex: 1 1 var(--left-width);
    max-width: var(--left-width);
    /* border: 3px solid rgb(223, 55, 55); */
}

#center-area {
    flex: 1 1 var(--center-width);
    max-width: var(--center-width);
    min-width: 0px;
    padding: 2rem;
    box-sizing: border-box;
    /* border: 3px solid rgb(43, 179, 38); */
}

#right-area {
    flex: 1 1 var(--right-width);
    max-width: var(--right-width);
    /* border: 3px solid rgb(35, 48, 168); */
}

#category-title,
.tag-title {
    font-size: var(--sidebar-title-size);
    margin: 0rem;
}

#category-list,
#tag-list {
    display: flex;
    flex-flow: row wrap;
    font-size: var(--sidebar-font-size);
}

#category-list .tag,
#tag-list .tag {
    margin-bottom: 0.5rem;
}

#tag-wrapper {
    margin-top: 3rem;
}

p.content-paragraph {
    font-size: var(--default-font-size);
    margin-top: 2rem;
    line-height: 2rem;
}

p.note {
    font-size: var(--note-font-size);
    margin-top: 0.5rem;
    line-height: 2rem;
    color: var(--note-color);
}

p.note::before {
    content: "Note: ";
}

hr {
    border: none;
    height: var(--hr-thick-size);
    background-color: var(--dark-color);
}

.post-hr {
    border: none;
    height: var(--hr-thin-size);
    background-color: var(--fog-color);
    width: 98%;
    margin: 2rem auto;
}

.hljs {
    /* must set font emplicitly when <html lang="zh-Hant-TW"> */
    font-family: Consolas;
    font-size: var(--code-font-size);
}

code {
    line-height: 1.2rem;
}

code[class=inline] {
    font-family: Consolas;
    font-size: var(--default-font-size);
    border-radius: var(--symbol-border-radius);
    background-color: var(--code-background);
    color: var(--code-color);
}

code[class=prop] {
    font-family: Consolas;
    font-size: var(--default-font-size);
    border-radius: var(--symbol-border-radius);
    background-color: var(--prop-background);
    color: var(--prop-color);
}

div.demo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

div.demo {
    flex: 1 1 var(--center-width);
    font-size: var(--default-font-size);
    border-radius: var(--demo-border-radius);
    border: var(--demo-border-size) solid var(--note-color);
    margin: 0 0.5rem;
    height: 100%;
    flex: 1 1 20%;
}

div.demo h1 {
    font-size: var(--default-font-size);
    margin: 0.5rem 0rem;
    text-align: center;
    color: var(--note-color);
}

ol.content-ol>li,
ul.content-ul>li {
    font-size: var(--default-font-size);
    line-height: 2rem;
    margin: 1rem 0rem;
}

ol.marginx1p5>li,
ul.marginx1p5>li {
    margin: 1.5rem 0rem;
}

ol.marginx2>li,
ul.marginx2>li {
    margin: 2rem 0rem;
}

table.content-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: var(--default-font-size);
    border-collapse: collapse;
    border: var(--table-border-size) solid var(--note-color);
}

table.content-table th,
table.content-table td {
    border: var(--table-border-size) solid var(--note-color);
}

table.content-table thead>tr {
    background-color: var(--dark-blue-background);
    color: var(--bright-color);
    text-align: left;
}

table.content-table th,
table.content-table td {
    padding: 0.3rem 0.5rem;
}

table.content-table tbody>tr:nth-child(2n+1) {
    background-color: var(--bright-color);
}

table.content-table tbody>tr:nth-child(2n) {
    background-color: var(--blue-background);
}

table.content-table td:nth-child(1) {
    font-weight: bold;
}

#same-category-list,
.same-tag-list {
    margin: 0rem;
    padding-left: 1.5rem;
}

#same-category-list li,
.same-tag-list li {
    font-size: var(--default-font-size);
    margin: 0.25rem 0rem;
}

#same-category-list a,
.same-tag-list a {
    color: var(--note-color);
    font-weight: var(--agenda-nonfocus-weight);
}

#same-category-list a.this-article {
    color: var(--dark-color);
    background-color: var(--blue-background);
    border-radius: var(--symbol-border-radius);
    font-weight: var(--agenda-focus-weight);
}

@media (width < 1000px) {
    #left-area {
        display: none;
    }
    #right-area {
        display: none;
    }
    #site-nav {
        display: none;
        flex-direction: column;
        background-color: none;
        gap: 1rem;
        margin-top: 1rem;
        padding: 1rem 0rem;
        text-align: center;
        width: 100%;
    }
    #hamburger {
        display: block;
    }
    .dropdown-hr {
        display: block;
    }
}

footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--dark-color);
    color: var(--bright-color);
    margin-top: 2rem;
    padding: 5rem;
}

footer h1 {
    font-size: var(--footer-title-size);
    font-weight: var(--footer-title-weight);
}

p.cc {
    color: var(--note-color);
    font-size: var(--cc-font-size);
    margin-top: 0rem;
    line-height: 1.5rem;
}

p.cc a {
    color: var(--note-color);
    font-weight: var(--cc-font-weight);
}