:root {
    --sidebar-font-size: 16px;
}

#tag-wrapper {
    margin-top: 0rem;
}

#tag-list {
    display: flex;
    flex-flow: column wrap;
}

#tag-list .tag {
    font-size: var(--sidebar-font-size);
    font-weight: 400;
}

#tag-list #selected-tag {
    border: 2px solid #403c3c;
    font-weight: 500;
}

#selected-tag::before {
    content: "➣ ";
}