#tag-wrapper {
    margin-top: 0rem;
}

#tag-list {
    display: flex;
    flex-flow: column wrap;
}

#tag-list .tag {
    font-size: var(--sidebar-font-size);
    font-weight: var(--symbol-font-weight);
}

#tag-list #selected-tag {
    border: var(--selected-border-size) solid var(--gray-background);
    font-weight: var(--link-font-weight);
}

#selected-tag::before {
    content: "➣ ";
}

.tag-dropdown {
    display: none;
    flex-flow: row nowrap;
}

#tag-select {
    width: 100%;
    margin-left: 1rem;
    border-radius: var(--symbol-border-radius);
    border: none;
    background-color: var(--fog-color);
    text-align: right;
    font-size: var(--sidebar-font-size);
    outline: none;
}

#tag-select option {
    font-size: var(--sidebar-font-size);
}

@media (max-width: 1000px) {
    .tag-dropdown {
        display: flex;
    }
}